body{
    background: #4b379a;
    margin: 5em 7em;
}

header{
    position: relative;    
    background-image:  url(public/img/headerbg.jpg);    
    height: 30em;
    width: 100%;
    color: white;
}

#Htext{
    margin-top: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav{
     position: absolute;
     top: 0;
     right: 0;
}

nav ul li {
    float: left;
    margin: 1em;
    list-style-type: none;
}

nav ul li a{
    text-decoration: none;
    color: white;
}

section{

}
.arts12{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#article1{
    background-color: white;
    padding: 2.5em 0.8em;  
}

#article2{
    height: 25em;
    background-image: url(public/img/parallux-bg.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#article3{
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 3em;
    
}

#article3 img{
    width: 28em;
    margin: 1em 0.5em;
    border-radius: 2%;
}


aside #mss{
    background-image: url(public/img/s2.jpg)
}

aside #suscribe{
    background-color: white;
}
aside{
    margin: 0;
    padding: 0;
}
footer{
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: rgb(34, 34, 34);
}

